<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/logout">logout</a>
        </nav>
    </header>
    <main>
        <div class="post">
            <h1>This is where we will fetch the posts</h1>
        </div>
        <div class="profile">
            <h2>Profile Info</h2>
            <p>Profile content goes here...</p>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
